body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    font-size: 17px;
    color: #333;
    background: lightslategray;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* HEADER */
.header {
    border: 1px solid black;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;

    background: url(Images/BACKGROUND_LAST.jpeg);
}

.header_inner{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

.logo {
    padding: 20px;
    font-size: 40px;
    color: #fff;
}

.nav {
    font-size: 21px;
    text-transform: uppercase;  
    margin-left: 100px;  
}

.nav_link{
    color: #fff;
    text-decoration: none;

    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    margin-top: 35px;
    
    transition: color .2s linear;
}

.nav_link:hover{
    color: #fce38a;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fce38a;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav_link:hover:after{
    opacity: 1;
}



/*    CONTENT    */
.content {
    border: 1px solid black;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

.info {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: #fff;
    text-align: justify;
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.info p{
    text-indent: 30px;
}

.info img{
    height: 300px;
    width: 250px;
}

.left_image{
    float: left;
    margin: 4px 10px 2px 0px;
}

.right_image{
    float: right;
    margin: 0 0 5px 5px; 
}

/*   FOOTER   */

footer{
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin: 0;
    left: 0;
    top: 0;
    box-sizing: border-box;
    margin: auto;

    background: url(Images/MILKYWAY.jpeg);
}

.footer-wrap{
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.footer-wrap p{
    font-size: 15px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 0 50px;
    margin-top: 15px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a:hover{
    color: #fce38a;
}

.socials a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fce38a;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.socials a:hover:after{
    opacity: 1;
}

.footer-bottom{
    width: 100%;
    padding: 0;
    text-align: center;
    color: #fff;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/* top button */

.topbutton {
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}